.hero {
  margin-top: 12px;
  margin-bottom: 26px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
.hero__start {
  padding-left: 40px;
  padding-top: 68px;
}

.slick-prev, .slick-next {
    background-color: #FF5733;
    color: #3cd313;
  }
  
  .slick-dots li button {
    background-color: #FF5733;
    border: 2px solid #0dd234;
  }
  
  .slick-dots li.slick-active button {
    background-color: #15d31b;
    color: #FF5733;
  }
