@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-dots li button {
  background-color: #46a358 !important;
  opacity: 30%;
}
.slick-active button {
  background-color: #46a358 !important;
}

.ant-slider-track {
  border: 2px solid #46a358;
}

.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #46a358;
}

.ant-slider .ant-slider-handler-1::after:hover {
  box-shadow: 0 0 0 2px #46a358;
}