@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.code-box-demo .ant-slider {
    margin-bottom: 16px;
  }
  
  .slider-handle-color-focus-shadow {
    border-color: brown !important;
    background-color: chartreuse !important;
    color: red !important;
    --antd-wave-shadow-color: red !important;
  }
  
  .ant-slider-handle {
    border-color: brown !important;
    background-color: rgb(15, 15, 15) !important;
  
    --antd-wave-shadow-color: red !important;
  }
  
  .ant-slider-handle:focus {
    border-color: brown !important;
    background-color: rgb(15, 15, 15) !important;
  
    --antd-wave-shadow-color: red !important;
  }
  .ant-slider-handle-dragging {
    border-color: brown !important;
    background-color: chartreuse !important;
    --antd-wave-shadow-color: red !important;
    outline: none;
  }
  
  .ant-slider-handle-click-focused:hover {
    background-color: rgb(0, 0, 0) !important;
    border: rgb(0, 0, 0) !important;
    --antd-wave-shadow-color: red !important;
  }